{% extends 'base.html.twig' %}

{% block title %}Service Sacré Choeur{% endblock %}

{% block body %}

    <style>
        .subscribe, .unsubscribe {
            cursor: pointer;
        }
        .subscribe:hover {
            color: #00af00 !important;
        }
        .unsubscribe:hover {
            color: #d10000 !important;
        }
        {% if is_granted('ROLE_ADMIN') %}
            .userinfo {
                cursor: pointer;
            }
        {% endif %}
    </style>

<div class="container">
    <h3 class="center">Inscription à la soupe du Sacré Choeur</h3>

    <div class="row">
        <div class="col m3 s12">
            <form id="datepicker_form">
                <div class="row">
                    <p class="flow-text">S'inscrire à une nouvelle date : </p>
                    <div class="input-field">
                        <input type="text" class="datepicker" id="datepicker" placeholder="Cliquez ici pour choisir une date">
                    </div>
                    <div class="input-field">
                        <input class="btn blue" type="submit" value="Enregistrer">
                    </div>
                </div>
            </form>
        </div>

        <div class="col s12 m8 offset-m1 center">
            <p class="flow-text ">
                <a class="btn white left" href="{{ path('monday', {"monday" : lastMonday}) }}"><i class="material-icons grey-text">navigate_before</i></a>
                <b>{{ month }}</b> - Semaine N° {{ weekNumber }}
                <a class="btn white right" href="{{ path('monday', {"monday" : nextMonday}) }}"><i class="material-icons grey-text">navigate_next</i></a>
            </p>

            <table>
                <thead>
                <tr>
                    <th>Lundi {{ weekDays.monday }}</th>
                    <th>Mardi {{ weekDays.tuesday }}</th>
                    <th>Mercredi {{ weekDays.wednesday }}</th>
                    <th>Jeudi {{ weekDays.thursday }}</th>
                    <th>Vendredi {{ weekDays.friday }}</th>
                    <th>Samedi {{ weekDays.saturday }}</th>
                    <th>Dimanche {{ weekDays.sunday }}</th>
                </tr>
                </thead>

                <tbody>
                    {% autoescape %}
                        {{ tbody | raw}}
                    {% endautoescape %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info_outline</i>Informations / Horaires</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
        <div class="col m6 s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">person_pin</i>Responsable du jour</div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
            </ul>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}

        <div class="row">
            <hr>
            <h3>Partie Admin</h3>
            <p>Cette partie est uniquement visible par les administrateurs</p>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/datepicker.js') }}"></script>
{% endblock %}
