{% extends 'base.html.twig' %}

{% block title %}Service Sacré Coeur{% endblock %}

{% block body %}

<style>
    body {
        background-color: #e0e0e0;
    }
    .subscribe, .unsubscribe {
        cursor: pointer;
    }
    .subscribe:hover {
        color: #00af00 !important;
    }
    .unsubscribe:hover {
        color: #d10000 !important;
    }
    {% if is_granted('ROLE_ADMIN') %}
        .userinfo {
            cursor: pointer;
        }
    {% endif %}
    .border-bottom-blue {
        border-bottom-color: #2196F3 !important;
    }
    .formDay {
        padding: 10px;
        border: 1px solid black;
        margin: 2px;
    }
</style>

<div class="container">
    <div class="right-align">
        <a href="/soupe" class="btn green">Je ramène de la soupe</a>
        <a href="/logout" class="btn red">Déconnexion</a>
    </div>
    <h3 class="center">Inscription à la soupe du Sacré Coeur</h3>

    <div class="row">
        <div class="col m3 s12">
            <form id="datepicker_form">
                <div class="row">
                    <p class="flow-text">Choisir une date : </p>
                    <div class="input-field">
                        <input type="text" class="datepicker" id="datepicker" placeholder="Cliquez ici pour choisir une date">
                    </div>
                    <div class="input-field">
                        <input class="btn blue" type="submit" value="Enregistrer">
                    </div>
                </div>
            </form>
        </div>

        <div class="col s12 m8 offset-m1 center">
            <p class="flow-text ">
                <a class="btn white left" href="{{ path('monday', {"monday" : lastMonday}) }}"><i class="material-icons grey-text">navigate_before</i></a>
                <b>{{ month }}</b> - Semaine N° {{ weekNumber }}
                <a class="btn white right" href="{{ path('monday', {"monday" : nextMonday}) }}"><i class="material-icons grey-text">navigate_next</i></a>
            </p>

            <table>
                <thead>
                <tr>
                    <th>Lundi {{ weekDays.monday }}</th>
                    <th>Mardi {{ weekDays.tuesday }}</th>
                    <th>Mercredi {{ weekDays.wednesday }}</th>
                    <th>Jeudi {{ weekDays.thursday }}</th>
                    <th>Vendredi {{ weekDays.friday }}</th>
                    <th>Samedi {{ weekDays.saturday }}</th>
                    <th>Dimanche {{ weekDays.sunday }}</th>
                </tr>
                </thead>

                <tbody>
                    {% autoescape %}
                        {{ tbody | raw}}
                    {% endautoescape %}
                </tbody>
            </table>
        </div>
        <div class="col s12 m8 offset-m4">
            <p class="flow-text red-text text-darken-2">Maximum 3 inscrits par jour.</p>
        </div>
        {% if (isAdmin) %}
            <div class="col s12 m8 offset-m4 center">
                <p class="flow-text red-text text-darken-1">Vous ne pouvez pas vous inscrire avec le compte administrateur. Pour cela merci de vous déconnecter et de vous reconnecter avec votre adresse email.</p>
            </div>
        {% endif %}

    </div>
    <div class="row">
        <div class="col m3 s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info_outline</i>Informations / Horaires</div>
                    <div class="collapsible-body">
                        <p>Le rendez-vous est à 18h30 au 40 rue des Bouchers de Perthe. Merci de sonner en arrivant.</p>
                        <p>Le service se déroule de 19h à 20h.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col m3 s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">person_pin</i>Responsable du jour</div>
                    <div class="collapsible-body">
                        {{ responsables["now"|date("l")|lower].name }}
                        <br>
                        {{ responsables["now"|date("l")|lower].email }}
                        <br>
                        {{ responsables["now"|date("l")|lower].phone }}
                    </div>
                </li>
            </ul>
        </div>
        <div class="col m6 s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">person_pin</i>Liste des responsables</div>
                    <div class="collapsible-body">
                        <table>
                            <thead>
                            <tr>
                                <th>Lundi</th>
                                <th>Mardi</th>
                                <th>Mercredi</th>
                                <th>Jeudi</th>
                                <th>Vendredi</th>
                                <th>Samedi</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td>
                                    {{ responsables.monday.name }}
                                    <br>
                                    {{ responsables.monday.email }}
                                    <br>
                                    {{ responsables.monday.phone }}
                                </td>
                                <td>
                                    {{ responsables.tuesday.name }}
                                    <br>
                                    {{ responsables.tuesday.email }}
                                    <br>
                                    {{ responsables.tuesday.phone }}
                                </td>
                                <td>
                                    {{ responsables.wednesday.name }}
                                    <br>
                                    {{ responsables.wednesday.email }}
                                    <br>
                                    {{ responsables.wednesday.phone }}
                                </td>
                                <td>
                                    {{ responsables.thursday.name }}
                                    <br>
                                    {{ responsables.thursday.email }}
                                    <br>
                                    {{ responsables.thursday.phone }}
                                </td>
                                <td>
                                    {{ responsables.friday.name }}
                                    <br>
                                    {{ responsables.friday.email }}
                                    <br>
                                    {{ responsables.friday.phone }}
                                </td>
                                <td>
                                    {{ responsables.saturday.name }}
                                    <br>
                                    {{ responsables.saturday.email }}
                                    <br>
                                    {{ responsables.saturday.phone }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col s12">
            <hr>
            <h4>Consignes pour la distribution de la Soupe chaude <b>en présentiel</b></h4>
            <ul class="red-text text-darken-2">
                <li><b>- noter sur le cahier le nom des personnes qui entrent et un numéro de téléphone</b></li>
                <li><b>- port du masque obligatoire</b></li>
                <li><b>- lavage des mains régulier</b></li>
                <li><b>- respect de la distanciation sociale</b></li>
            </ul>
            <p class="flow-text">
                <b>Préparation de 18h30 à 19h</b>
                <br>
                <ul>
                    <li>
                        <b>- en cuisine :</b>
                        en petite quantité au début puis en fonction de l'affluence
                        <ul style="padding-left: 4em">
                            <li>- faire chauffer la soupe et remplir quelques gobelets</li>
                            <li>- couper, tartiner et emballer 2 tartines par personne</li>
                            <li>- préparer le dessert (laver les fruits ou sortir les biscuits)</li>
                        </ul>
                    </li>
                    <li>
                        <b>- préparer la salle d'accueil :</b>
                        <ul style="padding-left: 4em">
                            <li>- placer les tables et les chaises en les espaçant</li>
                        </ul>
                    </li>
                    {#<br>#}
                    {#<br>#}
                    {#<li>#}
                        {#<b>- préparation de la banque de distribution :</b>#}
                        {#<ul style="padding-left: 4em">#}
                            {#<li>- mettre 3 tables en U devant le battant gauche de la porte de secours ouvert dans la salle à manger</li>#}
                            {#<li>y déposer les gobelets, les tartines et le dessert</li>#}
                        {#</ul>#}
                    {#</li>#}
                </ul>
            </p>
            <p class="flow-text">
                <b>Distribution de 19h à 19h30</b>
                {#<ul>#}
                    {#<li>- ne faire rentrer qu'une personne à la fois devant la table qui doit porter un masque</li>#}
                    {#<li>- demander à emporter le repas et ne pas consommer devant la porte</li>#}
                    {#<li>- ne faire rentrer personne dans la salle au delà des tables en U ni aux toilettes.</li>#}
                {#</ul>#}
            </p>
            <p class="flow-text">
                <b>Rangement de 19h30 à 20h</b>
                <ul>
                    <li>- fermer la porte de secours et vérifier qu'elle est bien fermée</li>
                    <li>- remettre les tables en place</li>
                    <li>- couper le gaz et les lumières</li>
                    <li>- fermer à clef la cuisine</li>
                </ul>
            </p>
        </div>
    </div>
    <div class="col s12 m8 offset-m4">
        <p>En cas de problème, veuillez contacter l'administrateur du site : <b>thibaut.de-gouberville@2018.icam.fr</b></p>
    </div>
    <div style="display: none" id="type">main</div>
    {% if is_granted('ROLE_ADMIN') %}

        <div class="row">
            <hr>
            <h3>Partie Admin</h3>
            <p>Cette partie est uniquement visible par les administrateurs</p>
            <p>Vous pouvez cliquer sur les inscriptions du jour afin d'avoir plus d'informations sur les bénévoles (nom, email, numéro de téléphone, ...)</p>
            <form action="/update-responsable/monday" class="col s12 m3 formDay" method="post">
                <h6><b>Lundi</b></h6>
                <label for="responsableName" class="sr-only blue-text">Nom</label>
                <input id="responsableName" name="name" class="border-bottom-blue" type="text"
                       placeholder="Nom du responsable" {% if responsables['monday'] is defined %}value="{{ responsables['monday'].name }}"{% endif %}>
                <label for="responsableEmail" class="sr-only blue-text">Email</label>
                <input id="responsableEmail" name="email" class="border-bottom-blue" type="email"
                       placeholder="Adresse E-Mail" {% if responsables['monday'] is defined %}value="{{ responsables['monday'].email }}"{% endif %}>
                <label for="responsablePhone" class="sr-only blue-text">Téléphone</label>
                <input id="responsablePhone" name="phone" class="border-bottom-blue" type="tel"
                       placeholder="Téléphone" {% if responsables['monday'] is defined %}value="{{ responsables['monday'].phone }}"{% endif %}>
                <input class="border-bottom-blue btn blue" type="submit" value="Enregistrer">
            </form>
            <form action="/update-responsable/tuesday" class="col s12 m3 formDay" method="post">
                <h6><b>Mardi</b></h6>
                <label for="responsableName" class="sr-only blue-text">Nom</label>
                <input id="responsableName" name="name" class="border-bottom-blue" type="text"
                       placeholder="Nom du responsable" {% if responsables['tuesday'] is defined %}value="{{ responsables['tuesday'].name }}"{% endif %}>
                <label for="responsableEmail" class="sr-only blue-text">Email</label>
                <input id="responsableEmail" name="email" class="border-bottom-blue" type="email"
                       placeholder="Adresse E-Mail" {% if responsables['tuesday'] is defined %}value="{{ responsables['tuesday'].email }}"{% endif %}>
                <label for="responsablePhone" class="sr-only blue-text">Téléphone</label>
                <input id="responsablePhone" name="phone" class="border-bottom-blue" type="tel"
                       placeholder="Téléphone" {% if responsables['tuesday'] is defined %}value="{{ responsables['tuesday'].phone }}"{% endif %}>
                <input class="border-bottom-blue btn blue" type="submit" value="Enregistrer">
            </form>
            <form action="/update-responsable/wednesday" class="col s12 m3 formDay" method="post">
                <h6><b>Mercredi</b></h6>
                <label for="responsableName" class="sr-only blue-text">Nom</label>
                <input id="responsableName" name="name" class="border-bottom-blue" type="text"
                       placeholder="Nom du responsable" {% if responsables['wednesday'] is defined %}value="{{ responsables['wednesday'].name }}"{% endif %}>
                <label for="responsableEmail" class="sr-only blue-text">Email</label>
                <input id="responsableEmail" name="email" class="border-bottom-blue" type="email"
                       placeholder="Adresse E-Mail" {% if responsables['wednesday'] is defined %}value="{{ responsables['wednesday'].email }}"{% endif %}>
                <label for="responsablePhone" class="sr-only blue-text">Téléphone</label>
                <input id="responsablePhone" name="phone" class="border-bottom-blue" type="tel"
                       placeholder="Téléphone" {% if responsables['wednesday'] is defined %}value="{{ responsables['wednesday'].phone }}"{% endif %}>
                <input class="border-bottom-blue btn blue" type="submit" value="Enregistrer">
            </form>
            <form action="/update-responsable/thursday" class="col s12 m3 formDay" method="post">
                <h6><b>Jeudi</b></h6>
                <label for="responsableName" class="sr-only blue-text">Nom</label>
                <input id="responsableName" name="name" class="border-bottom-blue" type="text"
                       placeholder="Nom du responsable" {% if responsables['thursday'] is defined %}value="{{ responsables['thursday'].name }}"{% endif %}>
                <label for="responsableEmail" class="sr-only blue-text">Email</label>
                <input id="responsableEmail" name="email" class="border-bottom-blue" type="email"
                       placeholder="Adresse E-Mail" {% if responsables['thursday'] is defined %}value="{{ responsables['thursday'].email }}"{% endif %}>
                <label for="responsablePhone" class="sr-only blue-text">Téléphone</label>
                <input id="responsablePhone" name="phone" class="border-bottom-blue" type="tel"
                       placeholder="Téléphone" {% if responsables['thursday'] is defined %}value="{{ responsables['thursday'].phone }}"{% endif %}>
                <input class="border-bottom-blue btn blue" type="submit" value="Enregistrer">
            </form>
            <form action="/update-responsable/friday" class="col s12 m3 formDay" method="post">
                <h6><b>Vendredi</b></h6>
                <label for="responsableName" class="sr-only blue-text">Nom</label>
                <input id="responsableName" name="name" class="border-bottom-blue" type="text"
                       placeholder="Nom du responsable" {% if responsables['friday'] is defined %}value="{{ responsables['friday'].name }}"{% endif %}>
                <label for="responsableEmail" class="sr-only blue-text">Email</label>
                <input id="responsableEmail" name="email" class="border-bottom-blue" type="email"
                       placeholder="Adresse E-Mail" {% if responsables['friday'] is defined %}value="{{ responsables['friday'].email }}"{% endif %}>
                <label for="responsablePhone" class="sr-only blue-text">Téléphone</label>
                <input id="responsablePhone" name="phone" class="border-bottom-blue" type="tel"
                       placeholder="Téléphone" {% if responsables['friday'] is defined %}value="{{ responsables['friday'].phone }}"{% endif %}>
                <input class="border-bottom-blue btn blue" type="submit" value="Enregistrer">
            </form>
            <form action="/update-responsable/saturday" class="col s12 m3 formDay" method="post">
                <h6><b>Samedi</b></h6>
                <label for="responsableName" class="sr-only blue-text">Nom</label>
                <input id="responsableName" name="name" class="border-bottom-blue" type="text"
                       placeholder="Nom du responsable" {% if responsables['saturday'] is defined %}value="{{ responsables['saturday'].name }}"{% endif %}>
                <label for="responsableEmail" class="sr-only blue-text">Email</label>
                <input id="responsableEmail" name="email" class="border-bottom-blue" type="email"
                       placeholder="Adresse E-Mail" {% if responsables['saturday'] is defined %}value="{{ responsables['saturday'].email }}"{% endif %}>
                <label for="responsablePhone" class="sr-only blue-text">Téléphone</label>
                <input id="responsablePhone" name="phone" class="border-bottom-blue" type="tel"
                       placeholder="Téléphone" {% if responsables['saturday'] is defined %}value="{{ responsables['saturday'].phone }}"{% endif %}>
                <input class="border-bottom-blue btn blue" type="submit" value="Enregistrer">
            </form>
            <form action="/update-responsable/sunday" class="col s12 m3 formDay" method="post">
                <h6><b>Dimanche</b></h6>
                <label for="responsableName" class="sr-only blue-text">Nom</label>
                <input id="responsableName" name="name" class="border-bottom-blue" type="text"
                       placeholder="Nom du responsable" {% if responsables['sunday'] is defined %}value="{{ responsables['sunday'].name }}"{% endif %}>
                <label for="responsableEmail" class="sr-only blue-text">Email</label>
                <input id="responsableEmail" name="email" class="border-bottom-blue" type="email"
                       placeholder="Adresse E-Mail" {% if responsables['sunday'] is defined %}value="{{ responsables['sunday'].email }}"{% endif %}>
                <label for="responsablePhone" class="sr-only blue-text">Téléphone</label>
                <input id="responsablePhone" name="phone" class="border-bottom-blue" type="tel"
                       placeholder="Téléphone" {% if responsables['sunday'] is defined %}value="{{ responsables['sunday'].phone }}"{% endif %}>
                <input class="border-bottom-blue btn blue" type="submit" value="Enregistrer">
            </form>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/datepicker2.js') }}"></script>
{% endblock %}
